<tr>
    <td>{{ supervisor.username }}</td>
    <td>{{ supervisor.email }}</td>
    <td>
        <a data-id="{{ supervisor.id }}" href="" class="btn btn-primary btn-xs ajaxEdit"><i class="fa fa-edit"></i></a>
        <a data-id="{{ supervisor.id }}" href="" class="btn btn-danger btn-xs ajaxDelete"><i class="fa fa-remove"></i></a>
    </td>
</tr>