{% extends "ROLE_STUDENT" in app.user.roles ? 'StudentBundle::base_student.html.twig' : 'base_app.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="bg-danger jumbotron">
            <h2>Un problème a été détécté</h2>
            <p>Envoyer un mail a <a href="#">contact</a> et précisez nous votre erreur.</p>
        </div>
    </div>
{% endblock %}