{% extends 'StudentBundle::base_student.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-8 ">
            <div class="col-md-12 row-box">
                <h2>Vue d'ensemble de mes cours</h2>
                <hr>
                {% for section in sections %}
                    <h3 class="text-center">{{ section.name }} : {{ section.promotion|date('Y') }}</h3>
                    <ul class="list-course">
                        {% for course in section.courses %}
                            <li ><i class="fa fa-arrow-circle-o-right fa-lg"></i>
                                <a href="{{ path('student_display_course', {'id' : course.id}) }}">
                                    {{ course.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
        {% include 'StudentBundle:part:calendar.html.twig' %}
    </div>
{% endblock %}
