{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends 'StudentBundle::base_student.html.twig' %}
{% block body %}


    {% if isAlreadyDone %}
        <div class="row">
            <div class="row-box col-md-8 bg-danger text-center">
                <div class="bg-danger">
                    <h4>Vous avez déjà fait le QCM.</h4>
                </div>
            </div>

        </div>
    {% else %}
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12 row-box title-course-category">
                    <h2 class="text-center">{{ qcmQuestions[0].qcm.name }}</h2>
                </div>
                <div class="row-box col-md-12 center-horizontal">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                    {{ form_rest(form) }}
                </div>

            </div>
            {% include 'StudentBundle:part:calendar.html.twig' %}
        </div>
    {% endif %}


{% endblock %}
{% block javascripts %}

    <script>
        $.each($('form').children(), function (index, value) {
            $(this).children('.control-label').remove()
        })
    </script>

{% endblock %}