{% extends 'base_app.html.twig' %}
{% block body %}
    <h1>Cours</h1>
    <div class="row col-md-12 custyle">
        <table class="table custab" id="course-table">
            <thead>
            <a data-toggle="modal" id="course-add-modal" class="btn btn-primary btn-xs"><b>+</b>
                Ajouter un nouveau cours</a>
            <tr>
                <th>Nom</th>
                <th>Section(s)</th>
                <th></th>
            </tr>
            </thead>
            {% for course in courses %}
                {% include "AppBundle:Course/part:raw.html.twig" %}
            {% endfor %}
        </table>
    </div>
    <div id="crudModal">
    </div>
    <script src="{{ asset('public/js/dayze.js') }}"></script>
    <script src="{{ asset('public/js/controller/course.js') }}"></script>
    <script src="{{ asset('public/js/controller/courseCategory.js') }}"></script>
    <script>
        $('.collapse').on('show.bs.collapse', function () {
            $('.collapse.in').collapse('hide');
        });
    </script>
{% endblock %}
