<tr>
    <td>{{ course.name }}</td>
    <td>
        <a data-id="{{ section.id }}" href="" class="btn btn-primary btn-xs ajaxEdit"><i class="fa fa-edit"></i></a>
        <a data-id="{{ section.id }}" class="btn btn-danger btn-xs ajaxDelete"><i class="fa fa-remove"></i></a>
    </td>
</tr>