{% extends 'base_app.html.twig' %}
{% block body %}
    <h1>Elèves</h1>
    <div class="row col-md-12 custyle">
        <div id="userType" data-userType="user" hidden></div>
        <table class="table table-striped custab sortable" id="user-table">
            <thead>
            {% if app.user.roles in "ROLE_ADMIN" %}
            <a id="user-add-modal" class="btn btn-primary btn-xs"><b>+</b> Ajouter un élève</a>
            {% endif %}
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Promotion</th>
                <th></th>
            </tr>
            </thead>
            {% for student in section.students %}
                {% include "AppBundle:User/part:raw.html.twig" %}
            {% endfor %}
        </table>
    </div>
    <div id="crudModal"></div>
    <script src="{{ asset('public/js/controller/supervisor.js') }}"></script>
{% endblock %}