@import "partial/dayze";
#header-top {
  height: 40vh;
  width: 100vw;
  background: url(../../img/student/bg_student.png) no-repeat center;
  background-size: cover;
  position: relative;
  margin-bottom: 15px;
}

