{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends 'base_app.html.twig' %}
{% block body %}
    {#<h1>{{ qcmQuestions[0].qcm.name }}</h1>#}
    {{ form_start(form) }}
    {{ form_end(form) }}
    {{ form_rest(form) }}

{% endblock %}