{% extends 'base_app.html.twig' %}
{% block body %}
    <h1>QCM</h1>
    <div class="row col-md-12 custyle">
        <table class="table table-striped custab sortable" id="user-table">
            <thead>
            <a id="user-add-modal" class="btn btn-primary btn-xs"><b>+</b> Ajouter un QCM</a>
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
            </thead>
            {% for qcm in qcms %}
                {% include 'QcmBundle:qcm/part:qcmRaw.html.twig' %}
            {% endfor %}

        </table>
    </div>

{% endblock %}