{% extends 'base_app.html.twig' %}
{% block body %}
    <h1>QCM</h1>
    <div class="row col-md-12 custyle">
        <table class="table table-striped custab sortable" id="qcm-table">
            <thead>
            <a id="qcm-add-modal" class="btn btn-primary btn-xs"><b>+</b> Ajouter un QCM</a>
            <a id="qcm-csv-modal" class="btn btn-primary btn-xs pull-right"><b>+</b> Ajouter un QCM par CSV</a>
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
            </thead>
            {% for qcm in qcms %}
                {% include 'QcmBundle:qcm/part:raw.html.twig' %}
            {% endfor %}

        </table>
    </div>
    <div id="crudModal"></div>
    <script src="{{ asset('public/js/jquery.collection.js') }}"></script>
    <script src="{{ asset('public/js/controller/qcm.js') }}"></script>
{% endblock %}
